{% load staticfiles %}
<!-- jha bhi {% % }
y chij h hta dena agar django nahi use kr rahi to waise code bootstrap k documentation m h kuch kuch wha s help le skti-->

<!DOCTYPE html>
<html>
<head>
  <title>
 healthcare
  </title>
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="{% static 'bootstrap.min.css' %}">
  <link rel="stylesheet" href= {% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel = "stylesheet" type="text/css" href = {% static 'style.css' %}>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-default bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"> button </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><span class="nav-text-active">Home</span> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> <span class="nav-text">Doctor</span>  </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><span class="nav-text">Ambulance</span>  </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#"><span class="nav-text">Bed</span>  </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#"><span class="nav-text">Contact Us</span> </a>
      </li>


    </ul>
  </div>
  <ul class = "nav navbar-nav navbar-right">
    <li class = "nav-item"><a href="#"><span class="fa fa-cog nav-text" aria-hidden="true" aria-hidden="true"></span>
      <span class= "nav-text"></span> &nbsp;&nbsp;</a>
    </li>
    <li class = "nav-item"><a href="#"><span class="fa fa-user-plus nav-text" aria-hidden="true"></span>
      <span class= "nav-text">SignUp</span> &nbsp</a>
    </li>
    <li class = "nav-item "><a href="#"><span class="fa fa-sign-in  nav-text" aria-hidden="true"></span>
 <span class ="nav-text">login</span> </a>
    </li>
  </ul>
  </nav>

{% block content %}
{% endblock %}

</body>
</html
